<div class="container">
  <h1 class="">Habit Tracker Main Page</h1>

  <div class="d-flex flex-row">
    <button type="button" (click)="changeMonth(-1)">
      <mat-icon matTooltip="Display Previous Month">navigate_before</mat-icon>
    </button>
    <h2>{{ currentFullDate | date : "MMMM YYYY" }}</h2>

    <button type="button" (click)="changeMonth(1)">
      <mat-icon matTooltip="Display Next Month">navigate_next</mat-icon>
    </button>
  </div>
  <div class="py-2">
    <button mat-flat-button color="primary" [routerLink]="['habit-new']">
      Add New Habit
    </button>
  </div>

  <table style="width: 100%; margin-top: 10pt">
    <ng-container>
      <!-- 1st row -->
      <tr>
        <th>Date</th>
        <td class="right" *ngFor="let n of daysInMonth | range; let i = index">
          {{ n }}
        </td>
      </tr>
      <!-- 2nd row -->
      <tr>
        <th>Mood</th>

        <td
          class="right"
          style="cursor: pointer"
          *ngFor="let n of daysInMonth | range; let i = index"
        >
          <a (click)="onOpenMoodSelector(i)">
            <mat-icon>{{ moodImage ? findMatchingObj(i) : "" }}</mat-icon></a
          >
        </td>
      </tr>

      <!-- 3rd Row -->
      <tr>
        <th>Days</th>
        <td class="right" *ngFor="let n of daysInMonth | range; let i = index">
          {{
            n
              | getDay
                : currentFullDate.getMonth()
                : currentFullDate.getFullYear()
          }}
        </td>
      </tr>

      <!-- 4th Row : Habit list starts -->
      <tr *ngFor="let habit of habits">
        <th>{{ habit.habitName }}</th>
        <td class="right" *ngFor="let n of daysInMonth | range; let i = index">
          c
        </td>
      </tr>
    </ng-container>
  </table>
</div>
