table {
  empty-cells: show;
  width: 100%;
  margin-top: 10pt;
  margin-bottom: 30pt;
}
th,
td {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgba(102, 222, 255, 0.3);
}
button {
  padding: 0;
  border: none;
  background: none;
  margin: auto;
  display: block;
}
.cell-container {
  width: 24px;
  height: 24px;
}
.incomplete-habit {
  color: rgba(255, 255, 255, 0.9);
  opacity: 50%;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

.complete-habit {
  color: rgba(255, 255, 255, 0.9);
  opacity: 100%;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
