<h1>Select Today's Mood</h1>
<button
  type="button"
  name="verySatisfied"
  value="verySatisfied"
  (click)="onSaveMood('verySatisfied')"
>
  <mat-icon>sentiment_very_satisfied</mat-icon>
</button>
<button
  type="button"
  name="satisfied"
  value="satisfied"
  (click)="onSaveMood('satisfied')"
>
  <mat-icon>sentiment_satisfied</mat-icon>
</button>
<button
  type="button"
  name="dissatisfied"
  value="dissatisfied"
  (click)="onSaveMood('Dissatisfied')"
>
  <mat-icon>sentiment_dissatisfied</mat-icon>
</button>
<button
  type="button"
  name="veryDisatisfied"
  value="veryDisatisfied"
  (click)="onSaveMood('veryDisatisfied')"
>
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
</button>
<button type="button" mat-flat-button color="primary">Save</button>
