<form [formGroup]="moodForm" (ngSubmit)="onSubmitMood()">
  <h1 mat-dialog-title>Select Today's Mood</h1>
  <span class="px-1" *ngFor="let mood of enumMood | keys">
    <app-icon-selector
      [iconFormControl]="moodForm.get('mood') | asFormControl"
      name="mood"
      value="{{ mood }}"
      icon="{{ mood }}"
    ></app-icon-selector>
  </span>
  <div class="d-flex flex-row justify-content-between">
    <button mat-flat-button color="primary" type="submit">Save</button>
    <ng-template [ngIf]="showResetButton">
      <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="onResetMood()"
      >
        Reset
      </button>
    </ng-template>
  </div>
</form>
