<div class="container">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="form-width mx-auto"
  >
    <div class="heading">Become a Member</div>
    <div>
      <app-textfield
        label="Username"
        id="username"
        [inputFormControl]="registerForm.get('username') | asFormControl"
      ></app-textfield>
    </div>
    <div>
      <app-textfield
        label="Email"
        id="email"
        [inputFormControl]="registerForm.get('email') | asFormControl"
      >
      </app-textfield>
      <mat-error
        *ngIf="
          registerForm?.get('email')?.hasError('email') &&
          !registerForm?.get('email')?.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="registerForm?.get('email')?.hasError('isDuplicateEmail')"
      >
        This email is already taken!
      </mat-error>
    </div>
    <div>
      <app-textfield
        name="password"
        id="password"
        label="Password"
        [inputFormControl]="registerForm.get('password') | asFormControl"
        [type]="passwordType"
        [icon]="passwordIcon"
        (click)="togglePasswordVisibility()"
        [tooltipMsg]="showPassword ? 'Hide Password' : 'Show Password'"
      ></app-textfield>
      <div>
        <mat-error *ngIf="registerForm?.get('password')?.hasError('pattern')">
          Password Requirements: At least 8 characters in length Lowercase
          letters Uppercase letters Numbers Special characters
        </mat-error>
      </div>
    </div>
    <div class="register-page-buttons">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Sign Up
      </button>
      <button mat-stroked-button type="button">
        <a href="/sign-in">Already a Member?</a>
      </button>
    </div>
  </form>
</div>
