<div *ngIf="habitData; let data">
  <!-- Habit Information -->
  <div class="container">
    <div class="flex-row-nowrap-space-between">
      <div class="d-flex flex-column justify-content-around">
        <h2 mat-dialog-title class="sub-heading">{{ data.habitName }}</h2>
        <p class="body-text">
          Started {{ data.createdOn | date : dateFormat }}
        </p>
      </div>
      <div class="flex-row-nowrap">
        <mat-icon>repeat</mat-icon>
        <p class="body-text">
          {{ data.countPerFreq }} x /
          {{ data.frequency }}
        </p>
      </div>
    </div>

    <!-- Habit Score Pie Chart  -->
    <circle-progress
      [percent]="avgScore"
      [radius]="75"
      [outerStrokeWidth]="20"
      [innerStrokeWidth]="20"
      [space]="-20"
      [outerStrokeColor]="'#FFD748'"
      [outerStrokeLinecap]="'butt'"
      [innerStrokeColor]="'#fffdd8'"
      [backgroundPadding]="-18"
      [unitsFontSize]="'15'"
      [titleFontWeight]="'700'"
      [subtitleFontSize]="'12'"
      [animation]="true"
      [animationDuration]="400"
      [subtitle]="'Avg. Score'"
    ></circle-progress>

    <div class="flex-row-nowrap-space-between">
      <div class="card" style="width: 10rem">
        <div class="card-body">
          <p class="number">
            {{ currentStreak.streak || 0 }}
            <ng-template [ngIf]="data.frequency === 'Day'"
              ><span class="body-text">days</span></ng-template
            >
            <ng-template [ngIf]="data.frequency === 'Week'"
              ><span class="body-text">weeks</span></ng-template
            >
            <ng-template [ngIf]="data.frequency === 'Month'"
              ><span class="body-text">months</span></ng-template
            >
          </p>
          <p class="body-text">current streak</p>
          <p class="body-text">
            since {{ currentStreak.startDate | date : dateFormat }}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="number">
            {{ currentScore || 0 }} <span class="body-text">%</span>
          </p>
          <p class="body-text">goals met</p>
        </div>
      </div>
    </div>
    <div class="flex-row-nowrap-space-between">
      <!-- Box for Number of Complete and Streaks -->
      <div class="card">
        <div class="card-body">
          <p class="number">
            {{ numOfCompletion || 0 }} <span class="body-text">x</span>
          </p>
          <p class="body-text">completed</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <p class="number">
            {{ bestStreak.streak || 0 }}
            <ng-template [ngIf]="data.frequency === 'Day'"
              ><span class="medium-text">days</span></ng-template
            >
            <ng-template [ngIf]="data.frequency === 'Week'"
              ><span class="medium-text">weeks</span></ng-template
            >
            <ng-template [ngIf]="data.frequency === 'Month'"
              ><span class="medium-text">months</span></ng-template
            >
          </p>
          <p class="body-text">Best Streak</p>
          <div class="d-flex flex-row flex-wrap justify-content-around">
            <span>{{ bestStreak.startDate | date : dateFormat }}</span>
            <span>{{ bestStreak.endDate | date : dateFormat }}</span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <p class="number">
            {{ numOfCompletion || 0 }} <span class="body-text">x</span>
          </p>
          <p class="body-text">missed</p>
        </div>
      </div>
    </div>

    <div class="container">
      <button mat-raised-button color="primary" (click)="onEdit(data.id!)">
        Edit
      </button>
      <span class="px-2"></span>
      <button mat-raised-button color="accent" (click)="onClickArchive()">
        {{ isArchived ? "Unarchive" : "Archive" }}
      </button>
      <span class="px-2"></span>
      <button mat-raised-button color="warn" (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>
</div>
