<mat-form-field
  class="form-field-full-width"
  appearance="fill"
  hideRequiredMarker="true"
>
  <mat-label>{{ label }}</mat-label>
  <ng-container *ngIf="inputFormControl"
    ><input
      class=""
      matInput
      [formControl]="inputFormControl"
      [type]="inputType"
      [placeholder]="placeholder"
  /></ng-container>

  <!-- Mat-error  -->
  <ng-container *ngIf="condition">
    <mat-error *ngIf="condition">
      <small>{{ errorMessage }}</small>
    </mat-error>
  </ng-container>
  <ng-container *ngIf="condition2">
    <mat-error *ngIf="condition2">
      <small>{{ errorMessage2 }}</small>
    </mat-error>
  </ng-container>

  <!-- Icon inside of form-field -->
  <ng-container *ngIf="icon">
    <button
      mat-icon-button
      matSuffix
      [type]="buttonType"
      [matTooltip]="tooltipMsg"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </button>
  </ng-container>
</mat-form-field>
