<div class="container">
  <form
    [formGroup]="habitForm"
    (ngSubmit)="onSubmit()"
    class="form-width mx-auto"
  >
    <div class="heading">Add A New Habit</div>

    <!-- Name of the habit -->
    <div class="sub-heading">
      <app-textfield
        label="Name"
        id="habitName"
        [inputFormControl]="habitForm.get('habitName') | asFormControl"
      ></app-textfield>
    </div>

    <!-- Frequency  -->
    <div class="d-flex flex-row justify-content-around">
      <div>
        <div class="sub-heading">Frequency</div>
        <div *ngFor="let frequency of enumFrequency | keys">
          <input
            type="radio"
            value="{{ frequency }}"
            [formControl]="habitForm.get('frequency') | asFormControl"
          />
          <label for="{{ frequency }}">{{ frequency }}</label>
        </div>
      </div>
      <div>
        <div class="sub-heading">Goal</div>
        <app-textfield
          label="Count per Frequency"
          type="number"
          [inputFormControl]="habitForm.get('countPerFreq') | asFormControl"
        ></app-textfield>
      </div>
    </div>

    <!-- Color Picker -->
    <div>
      <div class="sub-heading">Pick a Color</div>
      <div class="d-flex flex-row align-items-center">
        <span
          class="p-1"
          *ngFor="let color of enumIconColor | keys"
          style="height: 58px; width: 58px"
        >
          <app-icon-selector
            [iconFormControl]="habitForm.get('iconColor') | asFormControl"
            name="iconColor"
            value="{{ color }}"
            style.color="{{ color }}"
            icon="lens"
          ></app-icon-selector>
        </span>
        <button
          mat-stroked-button
          type="button"
          class="round-button"
          (click)="onSelectRandIconColor()"
        >
          Random
        </button>
      </div>
    </div>

    <div class="pt-5">
      <button
        mat-flat-button
        type="button"
        color="accent"
        [routerLink]="['../']"
      >
        Cancel
      </button>
      <span class="px-2"></span>
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="!habitForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
