<div class="container">
  <form
    [formGroup]="habitForm"
    (ngSubmit)="onSubmit()"
    class="form-width mx-auto"
  >
    <!-- Name of the habit -->
    <h2 class="sub-heading">
      {{ id ? "Edit a Habit" : "Create a Habit" }}
    </h2>
    <div class="sub-heading">
      <app-textfield
        [inputFormControl]="habitForm.get('habitName') | asFormControl"
        type="text"
        placeholder="Habit Name"
        id="habitName"
      ></app-textfield>
    </div>

    <!-- Frequency  -->
    <div class="row-flex">
      <h2 class="sub-heading">Frequency</h2>
      <mat-form-field appearance="fill" style="width: 150px">
        <mat-select
          placeholder="Select Frequency"
          [formControl]="habitForm.get('frequency') | asFormControl"
        >
          <mat-option
            *ngFor="let frequency of enumFrequency | keys"
            [value]="frequency"
          >
            {{ frequency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Goal -->
    <div class="row-flex">
      <h2 class="sub-heading">Goal</h2>
      <div class="row-flex">
        <button
          class="button-basic borderless-left"
          type="button"
          (click)="changeCount(-1)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <app-textfield
          style="width: 30px"
          placeholder="Count per Frequency"
          type="number"
          [inputFormControl]="habitForm.get('countPerFreq') | asFormControl"
        ></app-textfield>
        <button
          class="button-basic borderless-right"
          type="button"
          (click)="changeCount(1)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- Color Picker -->
    <div>
      <h2 class="sub-heading">Pick a Color</h2>
      <div class="d-flex flex-row align-items-center">
        <div *ngFor="let color of enumIconColor | keys">
          <app-icon-selector
            [iconFormControl]="habitForm.get('iconColor') | asFormControl"
            name="iconColor"
            value="{{ color }}"
            style.color="{{ color }}"
            icon="lens"
          ></app-icon-selector>
        </div>
        <button
          type="button"
          class="button-basic round-button-circle"
          (click)="onSelectRandIconColor()"
        >
          R
        </button>
      </div>
    </div>

    <div class="flex-row-right">
      <button
        mat-dialog-close
        class="button-basic borderless-right"
        style="color: #383838"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        class="button-basic borderless-right"
        style="color: #12e100"
        type="submit"
        [disabled]="!habitForm.valid"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</div>
