<div class="container">
  <form
    [formGroup]="newHabitForm"
    (ngSubmit)="onSaveHabit()"
    class="form-width mx-auto"
  >
    <div class="heading">Add A New Habit</div>

    <!-- Name of the habit -->
    <div class="sub-heading">
      <app-textfield
        label="Name"
        id="habitName"
        [inputFormControl]="newHabitForm.get('habitName') | asFormControl"
      ></app-textfield>
    </div>

    <!-- Frequency  -->
    <div class="sub-heading">Frequency - radio buttons</div>
    <div>
      <div *ngFor="let frequency of enumFrequency | keys">
        <input
          type="radio"
          value="{{ frequency }}"
          [formControl]="newHabitForm.get('frequency') | asFormControl"
        />
        <label for="{{ frequency }}">{{ frequency }}</label>
      </div>
      <label for="countPerFreq"
        >Count per Frequency
        <app-textfield
          label="Count per Frequency"
          type="number"
          [inputFormControl]="newHabitForm.get('countPerFreq') | asFormControl"
        ></app-textfield
      ></label>
      <!-- <input type="radio" value="Daily" />
      <label for="daily">Daily</label>
    </div>
    <div>
      <input type="radio" value="{{ frequencyWeekly }} times a week" />
      <label for="week"
        ><input type="number" #frequencyWeekly /> times a week</label
      >
    </div>
    <div>
      <input type="radio" value="{{ frequencyMonthly }} times a month" />
      <label for="month"
        ><input type="number" #frequencyMonthly /> times a month</label
      > -->
    </div>
    <!-- Icon Picker -->
    <div>
      <div class="sub-heading">Pick an Icon</div>
      <span class="px-1" *ngFor="let img of iconImages">
        <app-icon-selector
          [iconFormControl]="newHabitForm.get('iconImage') | asFormControl"
          name="iconImage"
          value="{{ img }}"
          icon="{{ img }}"
        ></app-icon-selector>
      </span>
      <button type="button" (click)="onSelectRandIconImg()">Random</button>
    </div>

    <!-- Color Picker -->
    <div>
      <div class="sub-heading">Pick a Color</div>
      <span class="px-1" *ngFor="let color of iconColors">
        <app-icon-selector
          [iconFormControl]="newHabitForm.get('iconColor') | asFormControl"
          name="iconColor"
          value="{{ color }}"
          style.color="{{ color }}"
          icon="lens"
        ></app-icon-selector>
      </span>
      <button type="button" (click)="onSelectRandIconColor()">Random</button>
    </div>

    <div class="py-5">
      <button mat-flat-button color="accent" [routerLink]="['../']">
        Cancel
      </button>
      <span class="px-2"></span>
      <button mat-flat-button color="primary">Save</button>
    </div>
  </form>
</div>
