$font-stack: "Open-Sans", sans-serif;

.heading {
  font: bold 200% $font-stack;
  color: #000000;
  letter-spacing: 1px;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h2 {
  &.sub-heading {
    font: 16px $font-stack;
    font-weight: 600; // Semibold
    color: #383838;
    margin: 0;
  }
}

.button-basic {
  background-color: #ffffff;
  color: #383838;
}

.borderless-left {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.borderless-right {
  border: none;
  padding-left: 15px;
  padding-right: 0px;
}
.round-button-circle {
  border: 1px solid #383838;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  margin-left: 3px;
  margin-top: 2px;
  padding: 0px;
}

.flex-row-right {
  padding-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
