<div class="container mt-5">
  <h1>Contact Us</h1>
  <form
    class="example-form"
    [formGroup]="contactUsForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input type="firstName" matInput placeholder="" />
      <mat-error
        *ngIf="
          contactUsForm.hasError('firstName') &&
          !contactUsForm.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf=""> Email is <strong>required</strong> </mat-error>
    </mat-form-field>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. habits@example.com" />
        <mat-error *ngIf=""> Please enter a valid email address </mat-error>
        <mat-error *ngIf=""> Email is <strong>required</strong> </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
