/* HIDE RADIO */
.hiddenradio [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* ICON STYLES */
.hiddenradio [type="radio"] + mat-icon {
  cursor: pointer;
}

/* CHECKED ICON STYLES */
.hiddenradio [type="radio"]:checked + mat-icon {
  border: 2px solid rgb(0, 119, 255);
  border-radius: 50%;
}

.icon-display {
  text-align: center;
  font-size: 36px;
  width: 36px;
  margin-top: 6px;
}
