<div class="container">
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    class="form-width mx-auto"
  >
    <div *ngIf="errorMessage" class="mt-2 alert alert-danger">
      {{ errorMessage }}
    </div>
    <div class="heading">Sign In</div>
    <div>
      <app-textfield
        label="Username"
        id="username"
        [inputFormControl]="signInForm.get('username') | asFormControl"
      ></app-textfield>
    </div>

    <div>
      <app-textfield
        name="password"
        id="password"
        label="Password"
        [inputFormControl]="signInForm.get('password') | asFormControl"
        [inputType]="passwordType"
        [icon]="passwordIcon"
        (click)="togglePasswordVisibility()"
        [tooltipMsg]="showPassword ? 'Hide Password' : 'Show Password'"
      ></app-textfield>
    </div>
    <div class="register-page-buttons">
      <button mat-raised-button color="primary" type="submit">Sign In</button>
      <button mat-stroked-button type="button">
        <a href="/register">Not a Member?</a>
      </button>
    </div>
  </form>
</div>
