<div
  class="container p-5 d-flex flex-row flex-wrap align-items-center justify-content-center"
>
  <div class="p-5">
    <div class="heading">
      We become <br />what we <br />
      <span class="accent">REPEATEDLY</span>
      <br />do.
      <div class="name">- Aristotle</div>
    </div>
    <div class="py-5">
      <button mat-flat-button color="accent">Get Started</button>
    </div>
  </div>
  <img
    src="https://images.unsplash.com/photo-1494797262163-102fae527c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
    alt="Build Habits"
    width="500"
    height="600"
    class="p-2"
  />
</div>
