$font-stack: "Open Sans", sans-serif;
.heading {
  font: 300% $font-stack;
  color: #000000;
  letter-spacing: 1px;
  .accent {
    font-weight: bold;
  }
  .name {
    font: italic 60% $font-stack;
    text-align: right;
  }
}

button {
  padding: 10px 20px;
  font: 150% $font-stack;
}
